/* ---- Gebo Admin blue theme ---- */

    .navbar-inner {
         background: rgb(0, 84, 166) !important;
         
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c62e2d', endColorstr='#b30003',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #eabdbd;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #8d1a17;
    }
    .navbar .divider-vertical {
        background-color:#ad1714;
        border-color:#cf2827;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #de3e3b !important;
    }
	
	.table thead th {background-color:#f7ebea !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#edd3d2 !important}
